In [38]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

df = pd.read_csv("../../../Divar.csv")

C:\Users\Rumi\AppData\Local\Temp\ipykernel_17972\2225313960.py:6: DtypeWarning: Columns (11,27,29,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../../../Divar.csv")

In [39]:
df.cat2_slug

0           temporary-rent
1         residential-sell
2         residential-rent
3          commercial-rent
4         residential-sell
                ...
999995    residential-sell
999996    residential-rent
999997    residential-sell
999998      temporary-rent
999999    residential-rent
Name: cat2_slug, Length: 1000000, dtype: object

In [40]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 61 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   Unnamed: 0                  1000000 non-null  int64
 1   cat2_slug                   1000000 non-null  object
 2   cat3_slug                   999999 non-null   object
 3   city_slug                   999998 non-null   object
 4   neighborhood_slug           437139 non-null   object
 5   created_at_month            1000000 non-null  object
 6   user_type                   288882 non-null   object
 7   description                 1000000 non-null  object
 8   title                       999946 non-null   object
 9   rent_mode                   352994 non-null   object
 10  rent_value                  351322 non-null   float64
 11  rent_to_single              19 non-null       object
 12  rent_type                   103961 non-null   object
 13  price_mode                  573606 non-null   object
 14  price_value                 568346 non-null   float64
 15  credit_mode                 352994 non-null   object
 16  credit_value                352095 non-null   float64
 17  rent_credit_transform       352985 non-null   object
 18  transformable_price         352894 non-null   object
 19  transformable_credit        352085 non-null   float64
 20  transformed_credit          72409 non-null    float64
 21  transformable_rent          351248 non-null   float64
 22  transformed_rent            72409 non-null    float64
 23  land_size                   186396 non-null   float64
 24  building_size               980394 non-null   float64
 25  deed_type                   253458 non-null   object
 26  has_business_deed           34679 non-null    object
 27  floor                       541748 non-null   object
 28  rooms_count                 845899 non-null   object
 29  total_floors_count          304352 non-null   object
 30  unit_per_floor              302283 non-null   object
 31  has_balcony                 506411 non-null   object
 32  has_elevator                541749 non-null   object
 33  has_warehouse               728155 non-null   object
 34  has_parking                 728156 non-null   object
 35  construction_year           815828 non-null   object
 36  is_rebuilt                  529470 non-null   object
 37  has_water                   33444 non-null    object
 38  has_warm_water_provider     379500 non-null   object
 39  has_electricity             33445 non-null    object
 40  has_gas                     33430 non-null    object
 41  has_heating_system          368969 non-null   object
 42  has_cooling_system          350619 non-null   object
 43  has_restroom                406913 non-null   object
 44  has_security_guard          31312 non-null    object
 45  has_barbecue                31198 non-null    object
 46  building_direction          323923 non-null   object
 47  has_pool                    29390 non-null    object
 48  has_jacuzzi                 28728 non-null    object
 49  has_sauna                   28479 non-null    object
 50  floor_material              405984 non-null   object
 51  property_type               27057 non-null    object
 52  regular_person_capacity     29870 non-null    float64
 53  extra_person_capacity       24009 non-null    object
 54  cost_per_extra_person       10241 non-null    float64
 55  rent_price_on_regular_days  18068 non-null    float64
 56  rent_price_on_special_days  10463 non-null    float64
 57  rent_price_at_weekends      13551 non-null    float64
 58  location_latitude           655608 non-null   float64
 59  location_longitude          655608 non-null   float64
 60  location_radius             339699 non-null   float64
dtypes: float64(17), int64(1), object(43)
memory usage: 465.4+ MB
None

In [41]:
pd.set_option('display.max_columns', None)
df.head()
print(df.description[9102])

اپارتمان ۱۱۰ متری ۲ خوابه بزرگ و دلباز  ۲ تراس دارد و انبار دارد ۲ اتاق خواب بزرگ هر دو اتاق دارای پنجره.خانه تمام موکت است اشپزخانه تمام کابینت فلزی محکم و یه ابگرم کن مخزنی ۱۰۰ لیتری کاملا نو   که ایناها رو همراه خونه به خریدار تحویل میدیم داری موقعیت مکانی خوب دسترسی  راحت به مدرسه بازارچه و مطب دکتر... پارکینگ در حد موتور سیکلت دارد مجتمع تمیز با همسایگان خوب یه تخفیف جزئی هم به خریدار  واقعی میدیم

In [42]:

df.has_cooling_system.value_counts()
df.has_elevator.value_counts()
df[df.has_elevator.isnull()]

def findstr(str):
    result = str.find("آسانسور")
    if result != -1:
        return True
    else:
        return False
    
df[df["description"].apply(findstr) & df.has_elevator.isnull()]
   
df.construction_year.value_counts()

construction_year
۱۴۰۳           116260
۱۳۹۰            59139
۱۴۰۲            58424
۱۴۰۰            53674
۱۳۹۵            53029
۱۳۹۸            38207
۱۳۹۷            36326
۱۳۹۶            35487
۱۴۰۱            35328
۱۳۸۵            34065
۱۳۹۹            29594
۱۳۹۳            29094
۱۳۹۲            26130
۱۳۹۴            26110
۱۳۸۸            24268
۱۳۸۰            23480
قبل از ۱۳۷۰     20637
۱۳۸۹            16755
۱۳۹۱            16316
۱۳۸۷            14136
۱۳۸۶            13468
۱۳۸۳             9894
۱۳۸۴             8494
۱۳۷۵             7247
۱۳۸۲             6965
۱۳۷۱             5531
۱۳۸۱             3590
۱۳۷۸             3025
۱۳۷۹             2415
۱۳۷۷             2117
۱۳۷۲             1914
۱۳۷۳             1827
۱۳۷۶             1593
۱۳۷۴             1289
Name: count, dtype: int64

In [43]:

has_cols = [c for c in df.columns if c.startswith("has_")]

summary = []

for col in has_cols:
    vc = df[col].value_counts(dropna=False)
    types = df[col].dropna().map(type).value_counts()

    summary.append({
        "column": col,
        "unique_values": vc.index.tolist(),
        "value_counts": vc.to_dict(),
        "types_present": {str(k): v for k, v in types.items()}
    })

has_summary_df = pd.DataFrame(summary)

has_summary_df

,column,unique_values,value_counts,types_present
0,has_business_deed,"[nan, False, True]","{nan: 965321, False: 17428, True: 17251}",{'<class 'bool'>': 34679}
1,has_balcony,"[nan, true, false, True, False, unselect]","{nan: 493589, 'true': 392096, 'false': 88855, ...","{'<class 'str'>': 481174, '<class 'bool'>': 25..."
2,has_elevator,"[nan, True, False]","{nan: 458251, True: 365148, False: 176601}",{'<class 'bool'>': 541749}
3,has_warehouse,"[True, nan, False]","{True: 582313, nan: 271845, False: 145842}",{'<class 'bool'>': 728155}
4,has_parking,"[True, nan, False]","{True: 552542, nan: 271844, False: 175614}",{'<class 'bool'>': 728156}
5,has_water,"[nan, False, True]","{nan: 966556, False: 17083, True: 16361}",{'<class 'bool'>': 33444}
6,has_warm_water_provider,"[nan, package, water_heater, powerhouse, unsel...","{nan: 620500, 'package': 205641, 'water_heater...",{'<class 'str'>': 379500}
7,has_electricity,"[nan, False, True]","{nan: 966555, False: 17167, True: 16278}",{'<class 'bool'>': 33445}
8,has_gas,"[nan, False, True]","{nan: 966570, False: 17297, True: 16133}",{'<class 'bool'>': 33430}
9,has_heating_system,"[nan, shoofaj, heater, duct_split, floor_heati...","{nan: 631031, 'shoofaj': 201356, 'heater': 119...",{'<class 'str'>': 368969}
10,has_cooling_system,"[nan, water_cooler, air_conditioner, split, du...","{nan: 649381, 'water_cooler': 219266, 'air_con...",{'<class 'str'>': 350619}
11,has_restroom,"[nan, squat_seat, squat, seat, unselect]","{nan: 593087, 'squat_seat': 219393, 'squat': 1...",{'<class 'str'>': 406913}
12,has_security_guard,"[nan, False, True]","{nan: 968688, False: 24631, True: 6681}",{'<class 'bool'>': 31312}
13,has_barbecue,"[nan, False, True]","{nan: 968802, False: 23377, True: 7821}",{'<class 'bool'>': 31198}
14,has_pool,"[nan, False, True]","{nan: 970610, False: 25669, True: 3721}",{'<class 'bool'>': 29390}
15,has_jacuzzi,"[nan, False, True]","{nan: 971272, False: 26455, True: 2273}",{'<class 'bool'>': 28728}
16,has_sauna,"[nan, False, True]","{nan: 971521, False: 27084, True: 1395}",{'<class 'bool'>': 28479}

In [44]:
bool_has_cols = [
    "has_business_deed",
    "has_elevator",
    "has_warehouse",
    "has_parking",
    "has_water",
    "has_electricity",
    "has_gas",
    "has_security_guard",
    "has_barbecue",
    "has_pool",
    "has_jacuzzi",
    "has_sauna"
]

for col in bool_has_cols:
    df[col] = (
        df[col]
        .fillna(False)
        .astype(int)
    )

df["has_balcony"] = (
    df["has_balcony"]
    .replace(
        {
            "true": 1,
            "True": 1,
            True: 1,
            "false": 0,
            "False": 0,
            False: 0,
            "unselect": 0
        }
    )
    .fillna(0)
    .astype(int)
)

system_has_cols = [
    "has_warm_water_provider",
    "has_heating_system",
    "has_cooling_system",
    "has_restroom"
]

for col in system_has_cols:
    df[col] = (
        df[col]
        .fillna("NONE")
        .replace({"unselect": "NONE"})
        .astype(str)
    )

df.info()

C:\Users\Rumi\AppData\Local\Temp\ipykernel_17972\3249689915.py:19: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  .fillna(False)
C:\Users\Rumi\AppData\Local\Temp\ipykernel_17972\3249689915.py:19: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  .fillna(False)
C:\Users\Rumi\AppData\Local\Temp\ipykernel_17972\3249689915.py:19: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  .fillna(False)
C:\Users\Rumi\AppData\Local\Temp\ipykernel_17972\3249689915.py:19: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  .fillna(False)
C:\Users\Rumi\AppData\Local\Temp\ipykernel_17972\3249689915.py:19: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  .fillna(False)
C:\Users\Rumi\AppData\Local\Temp\ipykernel_17972\3249689915.py:19: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  .fillna(False)
C:\Users\Rumi\AppData\Local\Temp\ipykernel_17972\3249689915.py:19: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  .fillna(False)
C:\Users\Rumi\AppData\Local\Temp\ipykernel_17972\3249689915.py:19: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  .fillna(False)
C:\Users\Rumi\AppData\Local\Temp\ipykernel_17972\3249689915.py:19: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  .fillna(False)
C:\Users\Rumi\AppData\Local\Temp\ipykernel_17972\3249689915.py:19: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  .fillna(False)
C:\Users\Rumi\AppData\Local\Temp\ipykernel_17972\3249689915.py:19: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  .fillna(False)
C:\Users\Rumi\AppData\Local\Temp\ipykernel_17972\3249689915.py:19: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  .fillna(False)
C:\Users\Rumi\AppData\Local\Temp\ipykernel_17972\3249689915.py:25: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  .replace(

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 61 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   Unnamed: 0                  1000000 non-null  int64
 1   cat2_slug                   1000000 non-null  object
 2   cat3_slug                   999999 non-null   object
 3   city_slug                   999998 non-null   object
 4   neighborhood_slug           437139 non-null   object
 5   created_at_month            1000000 non-null  object
 6   user_type                   288882 non-null   object
 7   description                 1000000 non-null  object
 8   title                       999946 non-null   object
 9   rent_mode                   352994 non-null   object
 10  rent_value                  351322 non-null   float64
 11  rent_to_single              19 non-null       object
 12  rent_type                   103961 non-null   object
 13  price_mode                  573606 non-null   object
 14  price_value                 568346 non-null   float64
 15  credit_mode                 352994 non-null   object
 16  credit_value                352095 non-null   float64
 17  rent_credit_transform       352985 non-null   object
 18  transformable_price         352894 non-null   object
 19  transformable_credit        352085 non-null   float64
 20  transformed_credit          72409 non-null    float64
 21  transformable_rent          351248 non-null   float64
 22  transformed_rent            72409 non-null    float64
 23  land_size                   186396 non-null   float64
 24  building_size               980394 non-null   float64
 25  deed_type                   253458 non-null   object
 26  has_business_deed           1000000 non-null  int64
 27  floor                       541748 non-null   object
 28  rooms_count                 845899 non-null   object
 29  total_floors_count          304352 non-null   object
 30  unit_per_floor              302283 non-null   object
 31  has_balcony                 1000000 non-null  int64
 32  has_elevator                1000000 non-null  int64
 33  has_warehouse               1000000 non-null  int64
 34  has_parking                 1000000 non-null  int64
 35  construction_year           815828 non-null   object
 36  is_rebuilt                  529470 non-null   object
 37  has_water                   1000000 non-null  int64
 38  has_warm_water_provider     1000000 non-null  object
 39  has_electricity             1000000 non-null  int64
 40  has_gas                     1000000 non-null  int64
 41  has_heating_system          1000000 non-null  object
 42  has_cooling_system          1000000 non-null  object
 43  has_restroom                1000000 non-null  object
 44  has_security_guard          1000000 non-null  int64
 45  has_barbecue                1000000 non-null  int64
 46  building_direction          323923 non-null   object
 47  has_pool                    1000000 non-null  int64
 48  has_jacuzzi                 1000000 non-null  int64
 49  has_sauna                   1000000 non-null  int64
 50  floor_material              405984 non-null   object
 51  property_type               27057 non-null    object
 52  regular_person_capacity     29870 non-null    float64
 53  extra_person_capacity       24009 non-null    object
 54  cost_per_extra_person       10241 non-null    float64
 55  rent_price_on_regular_days  18068 non-null    float64
 56  rent_price_on_special_days  10463 non-null    float64
 57  rent_price_at_weekends      13551 non-null    float64
 58  location_latitude           655608 non-null   float64
 59  location_longitude          655608 non-null   float64
 60  location_radius             339699 non-null   float64
dtypes: float64(17), int64(14), object(30)
memory usage: 465.4+ MB

In [45]:

has_cols = [c for c in df.columns if c.startswith("has_")]

summary = []

for col in has_cols:
    vc = df[col].value_counts(dropna=False)
    types = df[col].dropna().map(type).value_counts()

    summary.append({
        "column": col,
        "unique_values": vc.index.tolist(),
        "value_counts": vc.to_dict(),
        "types_present": {str(k): v for k, v in types.items()}
    })

has_summary_df = pd.DataFrame(summary)

has_summary_df

,column,unique_values,value_counts,types_present
0,has_business_deed,"[0, 1]","{0: 982749, 1: 17251}",{'<class 'int'>': 1000000}
1,has_balcony,"[0, 1]","{0: 587212, 1: 412788}",{'<class 'int'>': 1000000}
2,has_elevator,"[0, 1]","{0: 634852, 1: 365148}",{'<class 'int'>': 1000000}
3,has_warehouse,"[1, 0]","{1: 582313, 0: 417687}",{'<class 'int'>': 1000000}
4,has_parking,"[1, 0]","{1: 552542, 0: 447458}",{'<class 'int'>': 1000000}
5,has_water,"[0, 1]","{0: 983639, 1: 16361}",{'<class 'int'>': 1000000}
6,has_warm_water_provider,"[NONE, package, water_heater, powerhouse]","{'NONE': 621882, 'package': 205641, 'water_hea...",{'<class 'str'>': 1000000}
7,has_electricity,"[0, 1]","{0: 983722, 1: 16278}",{'<class 'int'>': 1000000}
8,has_gas,"[0, 1]","{0: 983867, 1: 16133}",{'<class 'int'>': 1000000}
9,has_heating_system,"[NONE, shoofaj, heater, duct_split, floor_heat...","{'NONE': 634149, 'shoofaj': 201356, 'heater': ...",{'<class 'str'>': 1000000}
10,has_cooling_system,"[NONE, water_cooler, air_conditioner, split, d...","{'NONE': 655298, 'water_cooler': 219266, 'air_...",{'<class 'str'>': 1000000}
11,has_restroom,"[NONE, squat_seat, squat, seat]","{'NONE': 593715, 'squat_seat': 219393, 'squat'...",{'<class 'str'>': 1000000}
12,has_security_guard,"[0, 1]","{0: 993319, 1: 6681}",{'<class 'int'>': 1000000}
13,has_barbecue,"[0, 1]","{0: 992179, 1: 7821}",{'<class 'int'>': 1000000}
14,has_pool,"[0, 1]","{0: 996279, 1: 3721}",{'<class 'int'>': 1000000}
15,has_jacuzzi,"[0, 1]","{0: 997727, 1: 2273}",{'<class 'int'>': 1000000}
16,has_sauna,"[0, 1]","{0: 998605, 1: 1395}",{'<class 'int'>': 1000000}

In [46]:
# DAILY RENT
df_daily = df[df['rent_price_on_regular_days'].notna()].copy()

# RENT (long-term)
df_rent = df[
    (df['rent_value'].notna() | df['credit_value'].notna()) &
    (df['rent_price_on_regular_days'].isna())
].copy()

# SELL
df_sell = df[
    df['price_value'].notna() &
    (df['rent_value'].isna()) &
    (df['rent_price_on_regular_days'].isna())
].copy()


df_sell.shape[0] + df_daily.shape[0] + df_rent.shape[0]

938639

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 61 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   Unnamed: 0                  1000000 non-null  int64
 1   cat2_slug                   1000000 non-null  object
 2   cat3_slug                   999999 non-null   object
 3   city_slug                   999998 non-null   object
 4   neighborhood_slug           437139 non-null   object
 5   created_at_month            1000000 non-null  object
 6   user_type                   288882 non-null   object
 7   description                 1000000 non-null  object
 8   title                       999946 non-null   object
 9   rent_mode                   352994 non-null   object
 10  rent_value                  351322 non-null   float64
 11  rent_to_single              19 non-null       object
 12  rent_type                   103961 non-null   object
 13  price_mode                  573606 non-null   object
 14  price_value                 568346 non-null   float64
 15  credit_mode                 352994 non-null   object
 16  credit_value                352095 non-null   float64
 17  rent_credit_transform       352985 non-null   object
 18  transformable_price         352894 non-null   object
 19  transformable_credit        352085 non-null   float64
 20  transformed_credit          72409 non-null    float64
 21  transformable_rent          351248 non-null   float64
 22  transformed_rent            72409 non-null    float64
 23  land_size                   186396 non-null   float64
 24  building_size               980394 non-null   float64
 25  deed_type                   253458 non-null   object
 26  has_business_deed           1000000 non-null  int64
 27  floor                       541748 non-null   object
 28  rooms_count                 845899 non-null   object
 29  total_floors_count          304352 non-null   object
 30  unit_per_floor              302283 non-null   object
 31  has_balcony                 1000000 non-null  int64
 32  has_elevator                1000000 non-null  int64
 33  has_warehouse               1000000 non-null  int64
 34  has_parking                 1000000 non-null  int64
 35  construction_year           815828 non-null   object
 36  is_rebuilt                  529470 non-null   object
 37  has_water                   1000000 non-null  int64
 38  has_warm_water_provider     1000000 non-null  object
 39  has_electricity             1000000 non-null  int64
 40  has_gas                     1000000 non-null  int64
 41  has_heating_system          1000000 non-null  object
 42  has_cooling_system          1000000 non-null  object
 43  has_restroom                1000000 non-null  object
 44  has_security_guard          1000000 non-null  int64
 45  has_barbecue                1000000 non-null  int64
 46  building_direction          323923 non-null   object
 47  has_pool                    1000000 non-null  int64
 48  has_jacuzzi                 1000000 non-null  int64
 49  has_sauna                   1000000 non-null  int64
 50  floor_material              405984 non-null   object
 51  property_type               27057 non-null    object
 52  regular_person_capacity     29870 non-null    float64
 53  extra_person_capacity       24009 non-null    object
 54  cost_per_extra_person       10241 non-null    float64
 55  rent_price_on_regular_days  18068 non-null    float64
 56  rent_price_on_special_days  10463 non-null    float64
 57  rent_price_at_weekends      13551 non-null    float64
 58  location_latitude           655608 non-null   float64
 59  location_longitude          655608 non-null   float64
 60  location_radius             339699 non-null   float64
dtypes: float64(17), int64(14), object(30)
memory usage: 465.4+ MB

In [48]:
#Fill lat and long

# Neighborhood-level medians
neigh_geo = (
    df
    .groupby("neighborhood_slug")[["location_latitude", "location_longitude"]]
    .median()
)

# City-level medians
city_geo = (
    df
    .groupby("city_slug")[["location_latitude", "location_longitude"]]
    .median()
)

In [49]:
mask_lat = df["location_latitude"].isna()
mask_lon = df["location_longitude"].isna()

df.loc[mask_lat, "location_latitude"] = (
    df.loc[mask_lat, "neighborhood_slug"]
      .map(neigh_geo["location_latitude"])
)

df.loc[mask_lon, "location_longitude"] = (
    df.loc[mask_lon, "neighborhood_slug"]
      .map(neigh_geo["location_longitude"])
)



mask_lat = df["location_latitude"].isna()
mask_lon = df["location_longitude"].isna()

df.loc[mask_lat, "location_latitude"] = (
    df.loc[mask_lat, "city_slug"]
      .map(city_geo["location_latitude"])
)

df.loc[mask_lon, "location_longitude"] = (
    df.loc[mask_lon, "city_slug"]
      .map(city_geo["location_longitude"])
)



print("Missing latitude:", df["location_latitude"].isna().sum())
print("Missing longitude:", df["location_longitude"].isna().sum())

Missing latitude: 2
Missing longitude: 2

In [50]:
# Drop rows with missing lat or lon
df = df.dropna(subset=["location_latitude", "location_longitude"])

print("Remaining rows:", df.shape[0])

Remaining rows: 999998

In [51]:
import jdatetime

df["created_at_month"] = df["created_at_month"].astype("datetime64[ns]")

def gregorian_dt_to_jalali_year_month(dt):
    j = jdatetime.date.fromgregorian(
        year=dt.year,
        month=dt.month,
        day=dt.day
    )
    return pd.Series([j.year, j.month])


df[["created_jalali_year", "created_jalali_month"]] = (
    df["created_at_month"]
    .apply(gregorian_dt_to_jalali_year_month)
)


df["created_jalali_year"] = df["created_jalali_year"].astype(int)
df["created_jalali_month"] = df["created_jalali_month"].astype(int)

In [52]:
df = df.drop(
    columns=[
        "city_slug",
        "neighborhood_slug",
        "created_at_month",
        "user_type"
    ],
    errors="ignore"
)

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 999998 entries, 0 to 999999
Data columns (total 59 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Unnamed: 0                  999998 non-null  int64
 1   cat2_slug                   999998 non-null  object
 2   cat3_slug                   999997 non-null  object
 3   description                 999998 non-null  object
 4   title                       999944 non-null  object
 5   rent_mode                   352993 non-null  object
 6   rent_value                  351321 non-null  float64
 7   rent_to_single              19 non-null      object
 8   rent_type                   103961 non-null  object
 9   price_mode                  573605 non-null  object
 10  price_value                 568345 non-null  float64
 11  credit_mode                 352993 non-null  object
 12  credit_value                352094 non-null  float64
 13  rent_credit_transform       352984 non-null  object
 14  transformable_price         352893 non-null  object
 15  transformable_credit        352084 non-null  float64
 16  transformed_credit          72409 non-null   float64
 17  transformable_rent          351247 non-null  float64
 18  transformed_rent            72409 non-null   float64
 19  land_size                   186395 non-null  float64
 20  building_size               980392 non-null  float64
 21  deed_type                   253458 non-null  object
 22  has_business_deed           999998 non-null  int64
 23  floor                       541747 non-null  object
 24  rooms_count                 845897 non-null  object
 25  total_floors_count          304352 non-null  object
 26  unit_per_floor              302283 non-null  object
 27  has_balcony                 999998 non-null  int64
 28  has_elevator                999998 non-null  int64
 29  has_warehouse               999998 non-null  int64
 30  has_parking                 999998 non-null  int64
 31  construction_year           815826 non-null  object
 32  is_rebuilt                  529469 non-null  object
 33  has_water                   999998 non-null  int64
 34  has_warm_water_provider     999998 non-null  object
 35  has_electricity             999998 non-null  int64
 36  has_gas                     999998 non-null  int64
 37  has_heating_system          999998 non-null  object
 38  has_cooling_system          999998 non-null  object
 39  has_restroom                999998 non-null  object
 40  has_security_guard          999998 non-null  int64
 41  has_barbecue                999998 non-null  int64
 42  building_direction          323923 non-null  object
 43  has_pool                    999998 non-null  int64
 44  has_jacuzzi                 999998 non-null  int64
 45  has_sauna                   999998 non-null  int64
 46  floor_material              405983 non-null  object
 47  property_type               27057 non-null   object
 48  regular_person_capacity     29870 non-null   float64
 49  extra_person_capacity       24009 non-null   object
 50  cost_per_extra_person       10241 non-null   float64
 51  rent_price_on_regular_days  18068 non-null   float64
 52  rent_price_on_special_days  10463 non-null   float64
 53  rent_price_at_weekends      13551 non-null   float64
 54  location_latitude           999998 non-null  float64
 55  location_longitude          999998 non-null  float64
 56  location_radius             339699 non-null  float64
 57  created_jalali_year         999998 non-null  int64
 58  created_jalali_month        999998 non-null  int64
dtypes: float64(17), int64(16), object(26)
memory usage: 457.8+ MB

In [54]:
rent_related_cols = [
    "rent_value",
    "credit_value",
    "rent_mode",
    "rent_type",
    "credit_mode",
    "rent_credit_transform",
    "transformable_price",
    "transformable_credit",
    "transformable_rent",
    "transformed_credit",
    "transformed_rent",
    "rent_price_on_regular_days",
    "rent_price_on_special_days",
    "rent_price_at_weekends",
    "regular_person_capacity",
    "extra_person_capacity",
    "cost_per_extra_person",
    "rent_to_single"
]


sell_related_cols = [
    "price_value",
    "price_mode"
]

daily_only_cols = [
    "rent_price_on_regular_days",
    "rent_price_on_special_days",
    "rent_price_at_weekends",
    "regular_person_capacity",
    "extra_person_capacity",
    "cost_per_extra_person"
]

In [55]:
df_buy = df[
    df["price_value"].notna() &
    df["rent_value"].isna() &
    df["rent_price_on_regular_days"].isna()
].copy()

df_buy = df_buy.drop(
    columns=rent_related_cols,
    errors="ignore"
)

In [56]:
df_rent = df[
    (df["rent_value"].notna() | df["credit_value"].notna()) &
    df["rent_price_on_regular_days"].isna()
].copy()

df_rent = df_rent.drop(
    columns=sell_related_cols + daily_only_cols,
    errors="ignore"
)

In [57]:
df_daily = df[
    df["rent_price_on_regular_days"].notna()
].copy()

df_daily = df_daily.drop(
    columns=sell_related_cols + [
        "rent_value",
        "credit_value",
        "rent_mode",
        "rent_type",
        "credit_mode",
        "rent_credit_transform",
        "transformable_price",
        "transformable_credit",
        "transformable_rent",
        "transformed_credit",
        "transformed_rent",
        "rent_to_single"
    ],
    errors="ignore"
)

In [58]:
print("BUY:", df_buy.shape)
print("RENT:", df_rent.shape)
print("DAILY:", df_daily.shape)

# No overlap
assert set(df_buy.index).isdisjoint(df_rent.index)
assert set(df_buy.index).isdisjoint(df_daily.index)
assert set(df_rent.index).isdisjoint(df_daily.index)

# Targets present
assert df_buy["price_value"].notna().all()
assert df_rent[["rent_value", "credit_value"]].notna().any(axis=1).all()
assert df_daily["rent_price_on_regular_days"].notna().all()

BUY: (568345, 41)
RENT: (352224, 51)
DAILY: (18068, 45)

In [59]:
df_buy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 568345 entries, 1 to 999997
Data columns (total 41 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Unnamed: 0               568345 non-null  int64
 1   cat2_slug                568345 non-null  object
 2   cat3_slug                568345 non-null  object
 3   description              568345 non-null  object
 4   title                    568330 non-null  object
 5   price_mode               568345 non-null  object
 6   price_value              568345 non-null  float64
 7   land_size                121735 non-null  float64
 8   building_size            567063 non-null  float64
 9   deed_type                253456 non-null  object
 10  has_business_deed        568345 non-null  int64
 11  floor                    307856 non-null  object
 12  rooms_count              456887 non-null  object
 13  total_floors_count       187087 non-null  object
 14  unit_per_floor           184934 non-null  object
 15  has_balcony              568345 non-null  int64
 16  has_elevator             568345 non-null  int64
 17  has_warehouse            568345 non-null  int64
 18  has_parking              568345 non-null  int64
 19  construction_year        456827 non-null  object
 20  is_rebuilt               316706 non-null  object
 21  has_water                568345 non-null  int64
 22  has_warm_water_provider  568345 non-null  object
 23  has_electricity          568345 non-null  int64
 24  has_gas                  568345 non-null  int64
 25  has_heating_system       568345 non-null  object
 26  has_cooling_system       568345 non-null  object
 27  has_restroom             568345 non-null  object
 28  has_security_guard       568345 non-null  int64
 29  has_barbecue             568345 non-null  int64
 30  building_direction       205057 non-null  object
 31  has_pool                 568345 non-null  int64
 32  has_jacuzzi              568345 non-null  int64
 33  has_sauna                568345 non-null  int64
 34  floor_material           246236 non-null  object
 35  property_type            22691 non-null   object
 36  location_latitude        568345 non-null  float64
 37  location_longitude       568345 non-null  float64
 38  location_radius          205541 non-null  float64
 39  created_jalali_year      568345 non-null  int64
 40  created_jalali_month     568345 non-null  int64
dtypes: float64(6), int64(16), object(19)
memory usage: 182.1+ MB

In [63]:
df_rent.info()

<class 'pandas.core.frame.DataFrame'>
Index: 352224 entries, 2 to 999999
Data columns (total 51 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Unnamed: 0               352224 non-null  int64
 1   cat2_slug                352224 non-null  object
 2   cat3_slug                352224 non-null  object
 3   description              352224 non-null  object
 4   title                    352193 non-null  object
 5   rent_mode                352224 non-null  object
 6   rent_value               351321 non-null  float64
 7   rent_to_single           15 non-null      object
 8   rent_type                103218 non-null  object
 9   credit_mode              352224 non-null  object
 10  credit_value             352094 non-null  float64
 11  rent_credit_transform    352213 non-null  object
 12  transformable_price      352208 non-null  object
 13  transformable_credit     352083 non-null  float64
 14  transformed_credit       72409 non-null   float64
 15  transformable_rent       351246 non-null  float64
 16  transformed_rent         72409 non-null   float64
 17  land_size                64537 non-null   float64
 18  building_size            352222 non-null  float64
 19  deed_type                2 non-null       object
 20  has_business_deed        352224 non-null  int64
 21  floor                    232824 non-null  object
 22  rooms_count              351913 non-null  object
 23  total_floors_count       117168 non-null  object
 24  unit_per_floor           117248 non-null  object
 25  has_balcony              352224 non-null  int64
 26  has_elevator             352224 non-null  int64
 27  has_warehouse            352224 non-null  int64
 28  has_parking              352224 non-null  int64
 29  construction_year        351818 non-null  object
 30  is_rebuilt               212714 non-null  object
 31  has_water                352224 non-null  int64
 32  has_warm_water_provider  352224 non-null  object
 33  has_electricity          352224 non-null  int64
 34  has_gas                  352224 non-null  int64
 35  has_heating_system       352224 non-null  object
 36  has_cooling_system       352224 non-null  object
 37  has_restroom             352224 non-null  object
 38  has_security_guard       352224 non-null  int64
 39  has_barbecue             352224 non-null  int64
 40  building_direction       118761 non-null  object
 41  has_pool                 352224 non-null  int64
 42  has_jacuzzi              352224 non-null  int64
 43  has_sauna                352224 non-null  int64
 44  floor_material           159621 non-null  object
 45  property_type            0 non-null       object
 46  location_latitude        352224 non-null  float64
 47  location_longitude       352224 non-null  float64
 48  location_radius          117948 non-null  float64
 49  created_jalali_year      352224 non-null  int64
 50  created_jalali_month     352224 non-null  int64
dtypes: float64(11), int64(16), object(24)
memory usage: 139.7+ MB

In [64]:
df_daily.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18068 entries, 0 to 999998
Data columns (total 45 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  18068 non-null  int64
 1   cat2_slug                   18068 non-null  object
 2   cat3_slug                   18068 non-null  object
 3   description                 18068 non-null  object
 4   title                       18067 non-null  object
 5   land_size                   0 non-null      float64
 6   building_size               18068 non-null  float64
 7   deed_type                   0 non-null      object
 8   has_business_deed           18068 non-null  int64
 9   floor                       0 non-null      object
 10  rooms_count                 18068 non-null  object
 11  total_floors_count          0 non-null      object
 12  unit_per_floor              0 non-null      object
 13  has_balcony                 18068 non-null  int64
 14  has_elevator                18068 non-null  int64
 15  has_warehouse               18068 non-null  int64
 16  has_parking                 18068 non-null  int64
 17  construction_year           0 non-null      object
 18  is_rebuilt                  0 non-null      object
 19  has_water                   18068 non-null  int64
 20  has_warm_water_provider     18068 non-null  object
 21  has_electricity             18068 non-null  int64
 22  has_gas                     18068 non-null  int64
 23  has_heating_system          18068 non-null  object
 24  has_cooling_system          18068 non-null  object
 25  has_restroom                18068 non-null  object
 26  has_security_guard          18068 non-null  int64
 27  has_barbecue                18068 non-null  int64
 28  building_direction          0 non-null      object
 29  has_pool                    18068 non-null  int64
 30  has_jacuzzi                 18068 non-null  int64
 31  has_sauna                   18068 non-null  int64
 32  floor_material              0 non-null      object
 33  property_type               2559 non-null   object
 34  regular_person_capacity     18068 non-null  float64
 35  extra_person_capacity       15055 non-null  object
 36  cost_per_extra_person       9748 non-null   float64
 37  rent_price_on_regular_days  18068 non-null  float64
 38  rent_price_on_special_days  10350 non-null  float64
 39  rent_price_at_weekends      13417 non-null  float64
 40  location_latitude           18068 non-null  float64
 41  location_longitude          18068 non-null  float64
 42  location_radius             3469 non-null   float64
 43  created_jalali_year         18068 non-null  int64
 44  created_jalali_month        18068 non-null  int64
dtypes: float64(10), int64(16), object(19)
memory usage: 6.3+ MB

In [60]:
# DROP_ALWAYS = [
#     "Unnamed: 0",          # index leak
#     "title",               # unstructured text
#     "description",         # unstructured text
#     "location_radius",     # noisy + sparse
#     "property_type"        # extremely sparse
# ]

# NUM_IMPUTE_ZERO = [
#     "land_size",
#     "building_size"
# ]

# ORDINAL_COLS = [
#     "floor",
#     "rooms_count",
#     "total_floors_count",
#     "unit_per_floor",
#     "construction_year"
# ]

# CAT_IMPUTE_UNKNOWN = [
#     "deed_type",
#     "is_rebuilt",
#     "building_direction",
#     "floor_material",
#     "has_warm_water_provider",
#     "has_heating_system",
#     "has_cooling_system",
#     "has_restroom"
# ]


# def clean_common(df):
#     df = df.copy()

#     # Drop useless columns
#     df.drop(columns=DROP_ALWAYS, errors="ignore", inplace=True)

#     # Numeric zero-impute
#     for col in NUM_IMPUTE_ZERO:
#         if col in df.columns:
#             df[col] = df[col].fillna(0)

#     # Convert ordinal-like cols to numeric
#     for col in ORDINAL_COLS:
#         if col in df.columns:
#             df[col] = pd.to_numeric(df[col], errors="coerce")

#     # Categorical unknown
#     for col in CAT_IMPUTE_UNKNOWN:
#         if col in df.columns:
#             df[col] = df[col].fillna("unknown")

#     return df

In [61]:
# df_buy   = clean_common(df_buy)
# df_rent  = clean_common(df_rent)
# df_daily = clean_common(df_daily)

In [67]:
# ==============================
# Helper: find columns to drop
# ==============================

def get_drop_columns(df, min_fill_ratio=1.0, always_drop=None):
    if always_drop is None:
        always_drop = []

    n = len(df)

    # Columns not fully filled
    not_full = [
        col for col in df.columns
        if df[col].notna().sum() < n
    ]

    # Very sparse columns
    very_sparse = [
        col for col in df.columns
        if df[col].notna().sum() / n < min_fill_ratio
    ]

    drop_cols = set(not_full + very_sparse + always_drop)
    return sorted(drop_cols)


# ==============================
# BUY DATAFRAME CLEANING
# ==============================

always_drop_buy = [
    "Unnamed: 0",
    "description",
    "title",
    "location_radius",
    "property_type"
]

drop_buy = get_drop_columns(
    df_buy,
    min_fill_ratio=1.0,
    always_drop=always_drop_buy
)

df_buy_clean = df_buy.drop(columns=drop_buy)


# ==============================
# RENT DATAFRAME CLEANING
# ==============================

always_drop_rent = [
    "Unnamed: 0",
    "description",
    "title",
    "rent_to_single",
    "rent_type",
    "deed_type",
    "transformed_credit",
    "transformed_rent",
    "property_type",
    "location_radius"
]

drop_rent = get_drop_columns(
    df_rent,
    min_fill_ratio=1.0,
    always_drop=always_drop_rent
)

df_rent_clean = df_rent.drop(columns=drop_rent)


# ==============================
# DAILY RENT DATAFRAME CLEANING
# ==============================

always_drop_daily = [
    "Unnamed: 0",
    "description",
    "title",
    "land_size",
    "deed_type",
    "floor",
    "total_floors_count",
    "unit_per_floor",
    "construction_year",
    "is_rebuilt",
    "building_direction",
    "floor_material",
    "location_radius"
]

drop_daily = get_drop_columns(
    df_daily,
    min_fill_ratio=1.0,
    always_drop=always_drop_daily
)

df_daily_clean = df_daily.drop(columns=drop_daily)


# ==============================
# FINAL SANITY CHECK
# ==============================

for name, df_ in {
    "BUY": df_buy_clean,
    "RENT": df_rent_clean,
    "DAILY": df_daily_clean
}.items():
    print(f"\n{name} max nulls in any column:")
    print(df_.isna().sum().max())

BUY max nulls in any column:
0

RENT max nulls in any column:
0

DAILY max nulls in any column:
0

In [68]:
df_buy_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 568345 entries, 1 to 999997
Data columns (total 25 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   cat2_slug                568345 non-null  object
 1   cat3_slug                568345 non-null  object
 2   price_mode               568345 non-null  object
 3   price_value              568345 non-null  float64
 4   has_business_deed        568345 non-null  int64
 5   has_balcony              568345 non-null  int64
 6   has_elevator             568345 non-null  int64
 7   has_warehouse            568345 non-null  int64
 8   has_parking              568345 non-null  int64
 9   has_water                568345 non-null  int64
 10  has_warm_water_provider  568345 non-null  object
 11  has_electricity          568345 non-null  int64
 12  has_gas                  568345 non-null  int64
 13  has_heating_system       568345 non-null  object
 14  has_cooling_system       568345 non-null  object
 15  has_restroom             568345 non-null  object
 16  has_security_guard       568345 non-null  int64
 17  has_barbecue             568345 non-null  int64
 18  has_pool                 568345 non-null  int64
 19  has_jacuzzi              568345 non-null  int64
 20  has_sauna                568345 non-null  int64
 21  location_latitude        568345 non-null  float64
 22  location_longitude       568345 non-null  float64
 23  created_jalali_year      568345 non-null  int64
 24  created_jalali_month     568345 non-null  int64
dtypes: float64(3), int64(15), object(7)
memory usage: 112.7+ MB

In [69]:
df_rent_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 352224 entries, 2 to 999999
Data columns (total 25 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   cat2_slug                352224 non-null  object
 1   cat3_slug                352224 non-null  object
 2   rent_mode                352224 non-null  object
 3   credit_mode              352224 non-null  object
 4   has_business_deed        352224 non-null  int64
 5   has_balcony              352224 non-null  int64
 6   has_elevator             352224 non-null  int64
 7   has_warehouse            352224 non-null  int64
 8   has_parking              352224 non-null  int64
 9   has_water                352224 non-null  int64
 10  has_warm_water_provider  352224 non-null  object
 11  has_electricity          352224 non-null  int64
 12  has_gas                  352224 non-null  int64
 13  has_heating_system       352224 non-null  object
 14  has_cooling_system       352224 non-null  object
 15  has_restroom             352224 non-null  object
 16  has_security_guard       352224 non-null  int64
 17  has_barbecue             352224 non-null  int64
 18  has_pool                 352224 non-null  int64
 19  has_jacuzzi              352224 non-null  int64
 20  has_sauna                352224 non-null  int64
 21  location_latitude        352224 non-null  float64
 22  location_longitude       352224 non-null  float64
 23  created_jalali_year      352224 non-null  int64
 24  created_jalali_month     352224 non-null  int64
dtypes: float64(2), int64(15), object(8)
memory usage: 69.9+ MB

In [70]:
df_daily_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18068 entries, 0 to 999998
Data columns (total 27 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   cat2_slug                   18068 non-null  object
 1   cat3_slug                   18068 non-null  object
 2   building_size               18068 non-null  float64
 3   has_business_deed           18068 non-null  int64
 4   rooms_count                 18068 non-null  object
 5   has_balcony                 18068 non-null  int64
 6   has_elevator                18068 non-null  int64
 7   has_warehouse               18068 non-null  int64
 8   has_parking                 18068 non-null  int64
 9   has_water                   18068 non-null  int64
 10  has_warm_water_provider     18068 non-null  object
 11  has_electricity             18068 non-null  int64
 12  has_gas                     18068 non-null  int64
 13  has_heating_system          18068 non-null  object
 14  has_cooling_system          18068 non-null  object
 15  has_restroom                18068 non-null  object
 16  has_security_guard          18068 non-null  int64
 17  has_barbecue                18068 non-null  int64
 18  has_pool                    18068 non-null  int64
 19  has_jacuzzi                 18068 non-null  int64
 20  has_sauna                   18068 non-null  int64
 21  regular_person_capacity     18068 non-null  float64
 22  rent_price_on_regular_days  18068 non-null  float64
 23  location_latitude           18068 non-null  float64
 24  location_longitude          18068 non-null  float64
 25  created_jalali_year         18068 non-null  int64
 26  created_jalali_month        18068 non-null  int64
dtypes: float64(5), int64(15), object(7)
memory usage: 3.9+ MB

In [73]:
common_cols = [
    'cat2_slug', 'cat3_slug',
    'has_business_deed', 'has_balcony', 'has_elevator', 'has_warehouse',
    'has_parking', 'has_water', 'has_warm_water_provider', 'has_electricity', 
    'has_gas', 'has_heating_system', 'has_cooling_system', 'has_restroom', 
    'has_security_guard', 'has_barbecue', 'has_pool', 'has_jacuzzi', 'has_sauna',
    'location_latitude', 'location_longitude',
    'created_jalali_year', 'created_jalali_month']

rent_specific_cols = [
    'rent_mode', 'rent_value', 'credit_mode', 'credit_value', 
    'rent_credit_transform', 'transformable_price', 'transformable_credit',

]

df_rent_clean = df_rent[common_cols + rent_specific_cols].copy()

df_rent_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 352224 entries, 2 to 999999
Data columns (total 30 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   cat2_slug                352224 non-null  object
 1   cat3_slug                352224 non-null  object
 2   has_business_deed        352224 non-null  int64
 3   has_balcony              352224 non-null  int64
 4   has_elevator             352224 non-null  int64
 5   has_warehouse            352224 non-null  int64
 6   has_parking              352224 non-null  int64
 7   has_water                352224 non-null  int64
 8   has_warm_water_provider  352224 non-null  object
 9   has_electricity          352224 non-null  int64
 10  has_gas                  352224 non-null  int64
 11  has_heating_system       352224 non-null  object
 12  has_cooling_system       352224 non-null  object
 13  has_restroom             352224 non-null  object
 14  has_security_guard       352224 non-null  int64
 15  has_barbecue             352224 non-null  int64
 16  has_pool                 352224 non-null  int64
 17  has_jacuzzi              352224 non-null  int64
 18  has_sauna                352224 non-null  int64
 19  location_latitude        352224 non-null  float64
 20  location_longitude       352224 non-null  float64
 21  created_jalali_year      352224 non-null  int64
 22  created_jalali_month     352224 non-null  int64
 23  rent_mode                352224 non-null  object
 24  rent_value               351321 non-null  float64
 25  credit_mode              352224 non-null  object
 26  credit_value             352094 non-null  float64
 27  rent_credit_transform    352213 non-null  object
 28  transformable_price      352208 non-null  object
 29  transformable_credit     352083 non-null  float64
dtypes: float64(5), int64(15), object(10)
memory usage: 83.3+ MB

In [78]:
# Drop rows where both rent_value and credit_value are NaN
df_rent_clean = df_rent_clean.dropna(subset=['rent_value', 'credit_value'], how='all')

# Fill remaining NaNs in rent_value and credit_value with 0
df_rent_clean['rent_value'] = df_rent_clean['rent_value'].fillna(0)
df_rent_clean['credit_value'] = df_rent_clean['credit_value'].fillna(0)

# Verify
df_rent_clean[['rent_value', 'credit_value']].isna().sum()

rent_value      0
credit_value    0
dtype: int64

In [ ]:
# Drop cat3_slug from all dataframes
for df in [df_buy_clean, df_rent_clean, df_daily_clean]:
    df.drop(columns=['cat3_slug'], inplace=True)

# Verify
df_buy_clean.head()
df_rent_clean.head()
df_daily_clean.head()

In [100]:
# Remove extreme outliers for BUY
df_buy_clean = df_buy_clean[(df_buy_clean['price_value'] >= 1_000_000) & 
                            (df_buy_clean['price_value'] <= 1_000_000_000_000)]

# Check the new shape
print(df_buy_clean.shape)

(558605, 24)

In [89]:
# Map Persian room counts to integers
rooms_mapping = {
    'بدون اتاق': 0,
    'یک': 1,
    'دو': 2,
    'سه': 3,
    'چهار': 4,
    'پنج یا بیشتر': 5
}

df_daily_clean['rooms_count'] = df_daily_clean['rooms_count'].map(rooms_mapping)

# If there are any remaining nulls, you can fill with -1 or 0
df_daily_clean['rooms_count'] = df_daily_clean['rooms_count'].fillna(-1)

# Verify
df_daily_clean['rooms_count'].value_counts()

rooms_count
1    6783
2    6684
3    2098
0    1685
5     420
4     398
Name: count, dtype: int64

In [90]:
# Convert rent to equivalent credit
conversion_factor_rent_to_credit = 30  # as per market rule

# If rent_value is non-zero, convert it to equivalent credit and add to existing credit
df_rent_clean['target_credit'] = df_rent_clean['credit_value'] + df_rent_clean['rent_value'] * conversion_factor_rent_to_credit

In [124]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder



# -------------------------------
# TARGETS
# -------------------------------
y_buy = df_buy_clean['price_value'].copy()
y_rent = df_rent_clean['target_credit'].copy()  # converted credit target
y_daily = df_daily_clean['rent_price_on_regular_days'].copy()

# -------------------------------
# DROP TARGET-LEAKING COLUMNS
# -------------------------------
df_buy_final = df_buy_clean.drop(columns=['price_value', 'price_mode'])
df_rent_final = df_rent_clean.drop(columns=[
    'rent_value', 'credit_value', 'rent_mode', 'credit_mode', 
    'rent_credit_transform', 'transformable_price', 'transformable_credit'
])
df_daily_final = df_daily_clean.drop(columns=['rent_price_on_regular_days'])

# -------------------------------
# IDENTIFY NUMERIC AND CATEGORICAL FEATURES
# -------------------------------
def get_features(df, exclude=[]):
    numeric_cols = df.select_dtypes(include=['int64','float64']).columns.tolist()
    categorical_cols = df.select_dtypes(include=['object']).columns.tolist()
    # Remove excluded columns
    numeric_cols = [c for c in numeric_cols if c not in exclude]
    categorical_cols = [c for c in categorical_cols if c not in exclude]
    return numeric_cols, categorical_cols

# Example: don't scale/drop ID columns
numeric_buy, categorical_buy = get_features(df_buy_final, exclude=['Unnamed: 0'])
numeric_rent, categorical_rent = get_features(df_rent_final, exclude=['Unnamed: 0'])
numeric_daily, categorical_daily = get_features(df_daily_final, exclude=['Unnamed: 0'])

# -------------------------------
# SCALER AND ENCODER
# -------------------------------
def preprocess_df(df, numeric_cols, categorical_cols):
    df_processed = df.copy()
    
    # Scale numeric
    if numeric_cols:
        scaler = StandardScaler()
        df_processed[numeric_cols] = scaler.fit_transform(df_processed[numeric_cols])
    
    # Encode categoricals
    for col in categorical_cols:
        if df_processed[col].nunique() <= 10:  # small cardinality → LabelEncoder
            le = LabelEncoder()
            df_processed[col] = le.fit_transform(df_processed[col].astype(str))
        else:  # large cardinality → OneHotEncoder
            ohe = pd.get_dummies(df_processed[col].astype(str), prefix=col)
            df_processed = pd.concat([df_processed.drop(columns=[col]), ohe], axis=1)
    
    return df_processed

# -------------------------------
# PROCESS FINAL DATAFRAMES
# -------------------------------
df_buy_final = preprocess_df(df_buy_final, numeric_buy, categorical_buy)
df_rent_final = preprocess_df(df_rent_final, numeric_rent, categorical_rent)
df_daily_final = preprocess_df(df_daily_final, numeric_daily, categorical_daily)

# -------------------------------
# READY TO USE
# -------------------------------
print(df_buy_final.shape, y_buy.shape)
print(df_rent_final.shape, y_rent.shape)
print(df_daily_final.shape, y_daily.shape)

(558605, 22) (558605,)
(352224, 23) (352224,)
(18068, 25) (18068,)

In [ ]:
# from sklearn.preprocessing import StandardScaler, LabelEncoder

# # -------------------------------
# # TARGETS
# # -------------------------------
# y_buy = df_buy_clean['price_value'].copy()
# y_rent = df_rent_clean['target_credit'].copy()
# y_daily = df_daily_clean['rent_price_on_regular_days'].copy()

# # -------------------------------
# # DROP TARGET-LEAKING COLUMNS
# # -------------------------------
# df_buy_final = df_buy_clean.drop(columns=['price_value', 'price_mode'])
# df_rent_final = df_rent_clean.drop(columns=[
#     'rent_value', 'credit_value', 'rent_mode', 'credit_mode', 
#     'rent_credit_transform', 'transformable_price', 'transformable_credit'
# ])
# df_daily_final = df_daily_clean.drop(columns=['rent_price_on_regular_days'])

# # -------------------------------
# # DEFINE COLUMN TYPES
# # -------------------------------

# def identify_columns(df):
#     binary_cols = [c for c in df.columns if df[c].nunique() == 2 and set(df[c].dropna().unique()) <= {0,1}]
#     numeric_cols = df.select_dtypes(include=['int64','float64']).columns.tolist()
#     numeric_cols = [c for c in numeric_cols if c not in binary_cols]
    
#     categorical_cols = df.select_dtypes(include=['object']).columns.tolist()
    
#     # Split ordinals vs nominal (adjust based on your data knowledge)
#     ordinal_cols = []  # put known ordinals here if any, e.g., ['rooms_count', 'floor_material']
#     nominal_cols = [c for c in categorical_cols if c not in ordinal_cols]
    
#     return numeric_cols, binary_cols, ordinal_cols, nominal_cols

# numeric_buy, binary_buy, ordinal_buy, nominal_buy = identify_columns(df_buy_final)
# numeric_rent, binary_rent, ordinal_rent, nominal_rent = identify_columns(df_rent_final)
# numeric_daily, binary_daily, ordinal_daily, nominal_daily = identify_columns(df_daily_final)

# # -------------------------------
# # PREPROCESSING FUNCTION
# # -------------------------------

# def preprocess(df, numeric_cols, binary_cols, ordinal_cols, nominal_cols):
#     df_proc = df.copy()
    
#     # Scale numeric columns
#     if numeric_cols:
#         scaler = StandardScaler()
#         df_proc[numeric_cols] = scaler.fit_transform(df_proc[numeric_cols])
    
#     # Binary columns: leave as 0/1
#     # Ordinals: label encode + scale
#     for col in ordinal_cols:
#         le = LabelEncoder()
#         df_proc[col] = le.fit_transform(df_proc[col].astype(str))
#         df_proc[col] = StandardScaler().fit_transform(df_proc[[col]])
    
#     # Nominal: one-hot encode
#     for col in nominal_cols:
#         dummies = pd.get_dummies(df_proc[col].astype(str), prefix=col)
#         df_proc = pd.concat([df_proc.drop(columns=[col]), dummies], axis=1)
    
#     return df_proc

# # -------------------------------
# # PROCESS DATAFRAMES
# # -------------------------------
# df_buy_final = preprocess(df_buy_final, numeric_buy, binary_buy, ordinal_buy, nominal_buy)
# df_rent_final = preprocess(df_rent_final, numeric_rent, binary_rent, ordinal_rent, nominal_rent)
# df_daily_final = preprocess(df_daily_final, numeric_daily, binary_daily, ordinal_daily, nominal_daily)

# # -------------------------------
# # READY
# # -------------------------------
# print(df_buy_final.shape, y_buy.shape)
# print(df_rent_final.shape, y_rent.shape)
# print(df_daily_final.shape, y_daily.shape)

(558605, 45) (558605,)
(352224, 46) (352224,)
(18068, 25) (18068,)

In [120]:
from sklearn.model_selection import train_test_split

# -------------------------------
# BUY
# -------------------------------
X_buy_train, X_buy_test, y_buy_train, y_buy_test = train_test_split(
    df_buy_final, y_buy, test_size=0.3, random_state=42
)

# -------------------------------
# RENT
# -------------------------------
X_rent_train, X_rent_test, y_rent_train, y_rent_test = train_test_split(
    df_rent_final, y_rent, test_size=0.3, random_state=42
)

# -------------------------------
# DAILY RENT
# -------------------------------
X_daily_train, X_daily_test, y_daily_train, y_daily_test = train_test_split(
    df_daily_final, y_daily, test_size=0.3, random_state=42
)

# -------------------------------
# PRINT SHAPES TO CONFIRM
# -------------------------------
print("BUY:", X_buy_train.shape, X_buy_test.shape, y_buy_train.shape, y_buy_test.shape)
print("RENT:", X_rent_train.shape, X_rent_test.shape, y_rent_train.shape, y_rent_test.shape)
print("DAILY:", X_daily_train.shape, X_daily_test.shape, y_daily_train.shape, y_daily_test.shape)

BUY: (391023, 45) (167582, 45) (391023,) (167582,)
RENT: (246556, 46) (105668, 46) (246556,) (105668,)
DAILY: (12647, 25) (5421, 25) (12647,) (5421,)

In [126]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

# -------------------------------
# BUY
# -------------------------------
lr_buy = LinearRegression()
lr_buy.fit(X_buy_train, y_buy_train)
y_buy_pred = lr_buy.predict(X_buy_test)
r2_buy = r2_score(y_buy_test, y_buy_pred)

# -------------------------------
# RENT
# -------------------------------
lr_rent = LinearRegression()
lr_rent.fit(X_rent_train, y_rent_train)
y_rent_pred = lr_rent.predict(X_rent_test)
r2_rent = r2_score(y_rent_test, y_rent_pred)

# -------------------------------
# DAILY RENT
# -------------------------------
lr_daily = LinearRegression()
lr_daily.fit(X_daily_train, y_daily_train)
y_daily_pred = lr_daily.predict(X_daily_test)
r2_daily = r2_score(y_daily_test, y_daily_pred)

# -------------------------------
# PRINT RESULTS
# -------------------------------
print("R² Score - BUY:", r2_buy)
print("R² Score - RENT:", r2_rent)
print("R² Score - DAILY RENT:", r2_daily)

R² Score - BUY: 0.023738640370231878
R² Score - RENT: 1.0
R² Score - DAILY RENT: -0.029637186332237553

In [127]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score

# BUY
tree_buy = DecisionTreeRegressor(random_state=42)
tree_buy.fit(X_buy_train, y_buy_train)
y_pred_buy = tree_buy.predict(X_buy_test)
r2_buy = r2_score(y_buy_test, y_pred_buy)
print("R² Score - BUY (Decision Tree):", r2_buy)

# RENT
tree_rent = DecisionTreeRegressor(random_state=42)
tree_rent.fit(X_rent_train, y_rent_train)
y_pred_rent = tree_rent.predict(X_rent_test)
r2_rent = r2_score(y_rent_test, y_pred_rent)
print("R² Score - RENT (Decision Tree):", r2_rent)

# DAILY RENT
tree_daily = DecisionTreeRegressor(random_state=42)
tree_daily.fit(X_daily_train, y_daily_train)
y_pred_daily = tree_daily.predict(X_daily_test)
r2_daily = r2_score(y_daily_test, y_pred_daily)
print("R² Score - DAILY RENT (Decision Tree):", r2_daily)

R² Score - BUY (Decision Tree): -0.4641159822711505
R² Score - RENT (Decision Tree): 0.9774341585652367
R² Score - DAILY RENT (Decision Tree): -30.879796535512067

In [125]:
df_buy_final

,cat2_slug,has_business_deed,has_balcony,has_elevator,has_warehouse,has_parking,has_water,has_warm_water_provider,has_electricity,has_gas,has_heating_system,has_cooling_system,has_restroom,has_security_guard,has_barbecue,has_pool,has_jacuzzi,has_sauna,location_latitude,location_longitude,created_jalali_year,created_jalali_month
1,4,-0.158259,-0.939221,1.236647,0.747532,0.787418,-0.142301,0,-0.141901,-0.141289,0,0,0,-0.100803,-0.099938,-0.067586,-0.052252,-0.042306,0.354638,-0.068612,0.085709,-1.493661
4,4,-0.158259,1.064712,1.236647,0.747532,0.787418,-0.142301,1,-0.141901,-0.141289,6,1,3,-0.100803,-0.099938,-0.067586,-0.052252,-0.042306,0.551527,2.363055,0.085709,-1.493661
7,4,-0.158259,-0.939221,1.236647,0.747532,0.787418,-0.142301,0,-0.141901,-0.141289,0,0,0,-0.100803,-0.099938,-0.067586,-0.052252,-0.042306,0.337475,-0.049852,0.085709,0.195670
8,4,-0.158259,1.064712,1.236647,0.747532,0.787418,-0.142301,1,-0.141901,-0.141289,6,5,2,-0.100803,-0.099938,-0.067586,-0.052252,-0.042306,0.330575,-0.261722,0.085709,-1.071329
9,4,-0.158259,1.064712,-0.808638,-1.337736,0.787418,-0.142301,0,-0.141901,-0.141289,0,0,2,-0.100803,-0.099938,-0.067586,-0.052252,-0.042306,0.574973,2.348878,0.085709,0.618003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999990,4,-0.158259,-0.939221,1.236647,0.747532,0.787418,-0.142301,0,-0.141901,-0.141289,0,0,0,-0.100803,-0.099938,-0.067586,-0.052252,-0.042306,1.038807,-1.974250,0.085709,0.195670
999991,4,-0.158259,-0.939221,-0.808638,0.747532,0.787418,-0.142301,3,-0.141901,-0.141289,5,5,2,-0.100803,-0.099938,-0.067586,-0.052252,-0.042306,0.306769,-0.103962,0.085709,1.462669
999992,4,-0.158259,1.064712,1.236647,0.747532,0.787418,-0.142301,1,-0.141901,-0.141289,6,1,3,-0.100803,-0.099938,-0.067586,-0.052252,-0.042306,0.259627,-0.133550,0.085709,1.040336
999995,4,-0.158259,-0.939221,1.236647,0.747532,0.787418,-0.142301,0,-0.141901,-0.141289,0,0,0,-0.100803,-0.099938,-0.067586,-0.052252,-0.042306,-0.207475,-1.368209,0.085709,-0.648996
999997,4,-0.158259,1.064712,-0.808638,0.747532,0.787418,-0.142301,0,-0.141901,-0.141289,0,0,0,-0.100803,-0.099938,-0.067586,-0.052252,-0.042306,-1.186413,0.796646,0.085709,1.040336